body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right, #a8d2fa, #e2ebf7);
    color: #0d3c77;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.barra-gov {
    background: #0d3c77;
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.contenedor {
    background: rgba(255, 255, 255, 0.95);
    margin: auto;
    padding: 30px;
    width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #337ccf;
}

.mensaje {
    margin-top: 20px;
    background: #dff0d8;
    padding: 10px;
    border-left: 5px solid green;
}

.descargas {
    margin-top: 10px;
}
.acciones-extra {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.descargas label {
    font-weight: bold;
}

.descargas select {
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
}
